<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <meta name="description" content="Uma pesquisa baseada nos estudos de Edgar H. Schein que te ajudará a descobrir o que mais te motiva na sua carreira hoje.">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/assets/css/style.css?11">

  <link rel="canonical" href="https://andersondias.com.br/ancora-de-carreira/">

  <link rel="icon" type="image/png" href="/assets/images/icon.png">
  <link rel="icon" type="image/png" href="/assets/images/icon.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/images/icon.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/icon.png" sizes="96x96">

  <meta property="og:title" content="Qual a sua âncora de carreira?">
  <meta property="og:description" content="Uma pesquisa baseada nos estudos de Edgar H. Schein que te ajudará a descobrir o que mais te motiva na sua carreira hoje.">
</head>
<body>
  {{ content }}
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js'></script>
  <script  src="/assets/scripts/script.js?10"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <footer class="text-secondary">Desenvolvido com ♥️ por <a href="https://andersondias.com.br" class="text-secondary">Anderson Dias</a></footer>
</body>
</html>
